/* --------------------------------------------------------------

   layout.css
   * Sets up site-specific layout styles

-------------------------------------------------------------- */

/* Divs
-------------------------------------------------------------- */

#navbar {
	padding-left: 5px;
	border-bottom: 1px dotted;
}
#folio {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
}
#footer { text-align: center; }

#subtitle {
	font-family: Andale Mono, monospace;
}

.page {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.column {
	display: inline-block; 
	vertical-align: top;
	width: 33%;
}

.column-content {
	padding: 10px;
}

.feed-item {
	margin-bottom: 15px;
}

.feed-item-snippet pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.feed-item-snippet img {
	max-width:100%;
	height:auto;
}



div .top-padding 			{ padding-top: 10px; }
div .top-padding-small		{ padding-top: 5px; }
div .bottom-padding 		{ padding-bottom: 10px; }
div .bottom-padding-small	{ padding-bottom: 5px; }

div .right-padding 			{ padding-right: 5px; }
div .right-padding-small	{ padding-right: 2px; }
div .left-padding 			{ padding-left: 5px; }
div .left-padding-small		{ padding-left: 2px; }

div .top-margin 			{ margin-top: 15px; }
div .top-margin-small		{ margin-top: 10px; }
div .top-margin-big			{ margin-top: 25px; }
div .bottom-margin 			{ margin-bottom: 15px; }
div .bottom-margin-small	{ margin-bottom: 10px; }
div .bottom-margin-big		{ margin-bottom: 25px; }

div .text-align-left	{ text-align: left; }
div .text-align-right	{ text-align: right; }
div .text-align-center	{ text-align: center; }

div .clickable { cursor: pointer; }

div .absolute		{ position: absolute; }
div .overlay-top	{ z-index: 10; }