.page
  - each column in columns 
    .column
      .header
        .edit-overlay
          span.delete
            span.default-control
              a.delete-button(href='#') Remove Column
            span.deleting-control
              span [\ 
              a.move-left-button(href="#") Move Feeds Left
              span \ - 
              a.move-right-button(href="#") Move Feeds Right
              span \ - 
              a.delete-button(href="#") Delete Feeds
              span \ - 
              a.cancel-button(href='#') Cancel
              span \ ] 
      .content
        - each feed in column.feeds
          .feed!= feed
