<html>

<head>
	<title>Join Headlyne!</title>
</head>
<body>

	<h1>Welcome to Headlyne!</h1>
	<h3>Enter Your Details to get an Account:</h3>

	<form method="get" action="signup">
		Username: <input type="text" name="username" /><br />
		Password: <input type="text" name="password" /><br />
		First Name: <input type="text" name="first_name" /><br />
		Last Name: <input type="text" name="last_name" /><br />
		Email ID: <input type="text" name="email_id" /><br />
		<input type="submit">
	</form>

</body>

</html>
