p
  b We are currently accepting new accounts on an invite-only basis.
p
  | If you have an invite, you can create an account using your invite code below.
p
  | If you want an invite, you can request one
  a(href="/account/request_invite") here.
